.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.dbus/
.gitconfig
*.swp
.histfile
.mozilla/
.vim/
.viminfo
.xinitrc
.xsel.log
.zcompdump
.zdirs
.zsh_history
.zshrc
.zshrc.zni

